.mainContainer{
  display: flex;
  width: 75vw;
}
.users{
  
  background-color: rgb(216, 231, 226);
}
.chats{
  background-color: lightblue;
}
.chatProfile{
  width: 4rem;
  border-radius: 50px;
}
.ChatBox{
  align-items: center;
  height: 55vh  ;
  padding: 1rem;
  width: 100%;
}
.chatInput{
  height: 50px;
}