.homepage{
    margin: 2%;
    /* margin-top: 5e0px; */
    border-left: 10px black;
 
  

}

.rightside{
    position: static;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background-color:"f7f9f9"
}