.answer-div{
    float: left;
    margin-top: 2%;
    border-top-style:solid;
    border-width: 1px;

    width: 100%;


}
.answer{
    border-top-style:solid;
    border-width: 1px;
    border-bottom-color: rgb(167, 167, 28);
    width: 100%;
    margin-top: 2%;
}
h1
{
    color: black !important;
}